.dropdown.notification-dropdown
  %button.btn.btn-default.dropdown-toggle{ type: 'button', id: 'dropdownMenu1', data: { toggle: 'dropdown' }, 'aria-haspopup': true, 'aria-expanded': true }
    %p= current_user.notifications.where(read: false).count
    %span.glyphicon.glyphicon-flag
  %ul.dropdown-menu{ 'aria-labelledby': 'dropdownMenu1' }
    %li.dropdown-header
      Notifications
      = link_to 'Mark All Read', mark_read_all_path, method: :patch, remote: true
    - current_user.notifications.order('created_at DESC').first(5).each do |notification|
      = render '/notifications/notification_menu', notification: notification
    %li.divider{ role: 'separator' }
      %li.text-center= link_to 'View All', notifications_path
